.characterList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.character {
    width: 35%;
    border: 2px solid #5A483B;
    margin-bottom: 25px;
    background-color: rgba(176, 146, 105, .9);
    box-shadow: 2px 2px 5px #775537;
}

.characterData {
    text-align: left;
    margin-left: 15px;
}